*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: 'Nunito', sans-serif;
  color: #384047;
}

.wrapper {
  max-width: 90%;
  margin: 10px auto;
  padding: 10px 20px;
  background: #f4f7f8;
  border-radius: 8px;
    text-align: justify;
}

h1, h2 {
  margin: 30px 0;
  text-align: center;
}


mejs__time-total {
    background: hsla(0,0%,100%,1);
    margin: 5px 0 0;
    width: 100%; }

.mejs__controls:not([style*="display: none"]) {
    
    background: linear-gradient(rgba(100, 100, 200, 0.0), rgba(240, 200, 220, 0.35));
}
@media (min-width: 768px) {
    .videoWrapper, .text {
  margin: 0 auto 50px;
  display: block;
    max-width: 800px;
        
 }
}

